.homeFeedContainer {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
  }
  
  /* Optional: If you want to make FeedContainer narrower inside */
  .feedContent {
    width: 100%;
    max-width: 600px;
  }
  