.postCard {
  padding: 1rem;
  background-color: #fff;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: rgba(219, 219, 219, 1)1px solid;
}

.postHeader {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
}

.userAvatar {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 12px;
  border: 2px solid #aca6a6;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.usernameRow {
  display: flex;
  align-items: center;
  gap: 6px; 

}

.usernameRow span {
  font-weight: bold;
  font-size: 15px;
  font-weight: var(--font-weight-system-semibold);
}

.timeText {
  font-size: 14px;
  font-weight: 400;
  color: rgba(128, 128, 128, 0.738);
  margin: 0;
}


.postContent {
  margin-top: 0.5rem;
  color: #333;
  font-size: 15px;
  line-height: 1.5;
}

.mediaWrapper {
  margin-top: 10px;
}

.postImage {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  
}

.postActions {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 8px 12px;
}

.actionIcons {
  display: flex;
  gap: 16px;
  
}

.actionIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.2s ease;
  
}

.actionIcon:hover {
  transform: scale(1.2);
}


.postDetails {
  padding: 0;
}

.postCaption {
  margin: 8px 0;
}

.boldUsername {
  font-weight: bold;
  margin-right: 5px;
}

.viewComments {
  color: grey;
  font-size: 14px;
  padding: 0;
}
